.banniere {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../../assets/IMG.png);
  background-position: center;
  margin: auto;
  margin-top: 3%;
  height: 180px;
  margin-bottom: 5%;
  border-radius: 25px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 480px) {
    height: 150px;
    border-radius: 10px;
  }
  @media screen and (max-width: 480px) {
    margin-bottom: 0%;
  }

  img {
    width: 100%;
    border-radius: 25px;
  }
  h2 {
    color: white;
    font-weight: 500;
    font-size: 46px;
    @media screen and (max-width: 768px) {
      padding-left: 5%;
      padding-right: 5%;
      font-size: 32px;
    }
    @media screen and (max-width: 480px) {
      font-size: 28px;
    }
  }
}
